<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
<p style='font-size:large; color:white; text-align:left;'>Created by &#2337;&#2375;&#2352;&#2375;&#2325; &#2361;&#2350;&#2375;&#2352;&#2381;&#2360;&#2381;&#2354;&#2381;&#2352;&#2368; </p>
<i style='font-size:large; color:white;'>&#169;&#174;Hammerstein Ltd.&#8482 (2023), Patent Pending, Trespassers will be prosecuted</i>
</html>
