{% extends 'base.html' %}

{% block head %}
<title> Coho Meal Scheduler </title>

<div class="index-header">
<div class="admin-login-area">
	<div class="admin-login-form">
{% if not admin %}
	<form action="/" method="POST">
		<label style='color:green;'>Admin? Enter password:</label><br>
		<input type="text" name="admin_password" placeholder='password'>
		<input type="submit" name="click" value="Submit">
	</form>
	{% if error %}
        <p class=error>Error: {{ error }}</p>
    {% endif %}
{% else %}
	<p class=success>Logged in as admin!</p>
{% endif %}
	</div>
</div>
<!--
<div class="header-image">
	<img style="border: 1px solid;" src="{{ url_for('static',filename='italianfood.jpeg') }}">
</div>
-->
</div>

{% endblock %}

{% block body %}
<div class="index-intro-container">
	<h1 style='text-align: center;'>Coho Meal Scheduler</h1>
	<div class="index-intro">
	<h3>Important info:</h3>
	<ul>
			<li>Here lieth the meal schedule for the next 8 weeks.</li><br>
			<li>If you plan to participate in meals, <b>please sign up for at least 1 workshift per 3 meals eaten</b>.</li><br>
			<li>If you can't work your shift, you are responsible for finding a sub.</li><br>
			<li>Please prioritize signing up for Sunday meals (highlighted in red).</li>
	</ul>
	</p>
	<hr>
	<h3>Brief description of roles:</h3>
	<strong>Cook</strong>
	<ul>
		<li>Plans, shops, prepares and serves food including late plates.</li>
		<li>Submits sign up sheet with all receipts for reimbursement.</li>
	</ul>
	<strong>Assist</strong>
	<ul>
		<li>Typically helps cook for a few hours before meal is served.</li>
		<li>Tasks may include: prep, setting tables, manage sign up sheet.</li>
	</ul>
	<strong>Cleaners</strong>
	<ul>
		<li>Wash and put away all dishes and pots & pans.</li>
		<li>Sweep and mop, put dirty linens into the wash.</li>
		<li>Take out trash & compost.</li>
	</ul>
	<hr>
	<h3>To sign up for a workshift, click on a boxed date below and it will redirect you to a form to add your name to one of the roles.</h3>
	</div>
</div>
<div class="index-table-area">
	<div class="index-table-container">
	<div class="index-table">
	<table>
		<tr>
			<th class="sunday">Sun</th>
			<th>Mon</th>
			<th>Tues</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
		{% for day in days %}
			{% if day.day_name == 'Sun' %}
				<tr>
				    <td class="sunday">
			{% else %}
				    <td class="index">
			{% endif %}

				<div class="centerbox">
					<a href="/update/{{ day.id }}">
					  <div class="table-date">
							  <b>{{ day.date.strftime("%b %d, %Y") }}</b>

					  </div>
					  <div class="table-labels">
							  <p class="cook"><b>Cook :</b></p>
							  <p class="assist"><b>Assist :</b></p>
							  <p class="clean1"><b>Cleaner 1 :</b></p>
							  <p class="clean2"><b>Cleaner 2 :</b></p>
				      </div>
					  <div class="table-names">
							  {% set jobkeys = ["cook","assist","clean1","clean2"] %}
            				  {% set jobnames = [day.cook,day.assist,day.clean1,day.clean2] %}
							  {% for i in range(4) %}
							    
							  	{% if (jobnames[i] != "Unassigned") %}
							  		<p class="{{ jobkeys[i] }}">
							  	{% else %}
							  		<p class="placeholder">
							  	{% endif %}
							  	
								{{ jobnames[i] }}</p>
							  
							  {% endfor %}
					  </div>
					</a>
				</div>
			</td>
			{% if day.day_name == 'Sat' %}
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
	</div>
	</div>
</div>
{% endblock %}
