{% extends 'base.html' %}

{% block head %}
<div class="header-image">
	<img src="{{ url_for('static',filename='italianfood.jpeg') }}">
</div>
<title> Coho Meal Scheduler </title>
{% endblock %}

{% block body %}
<div class="index-content">
	<h1>Coho Meal Scheduler</h1>
	<div class="index-intro">
	<h3>Important info:</h3>
	<ul>
			<li>Here lieth the meal schedule for the next 8 weeks.</li><br>
			<li>If you plan to participate in meals, <b>please sign up for at least 1 workshift per 3 meals eaten</b>.</li><br>
			<li>If you can't work your shift, you are responsible for finding a sub.</li><br>
			<li>Please prioritize signing up for Sunday meals (highlighted in blue).</li>
	</ul>
	</p>
	<hr>
	<h3>Brief description of roles:</h3>
	<h5>
	<dl>
		<dt>Cook</dt>
		<dd>- Plans, shops, prepares and serves food including late plates.</dd>
		<dd>- Submits sign up sheet with all receipts for reimbursement.</dd>
		<dt>Assist</dt>
		<dd>- Typically helps cook for a few hours before meal is served.</dd>
		<dd>- Tasks may include: prep, setting tables, manage sign up sheet.</dd>
		<dt>Cleaners</dt>
		<dd>- Wash and put away all dishes and pots & pans.</dd>
		<dd>- Sweep and mop, put dirty linens into the wash.</dd>
		<dd>- Take out trash & compost.</dd>
	</dl>
	</h5>
	<hr>
	<h3>To sign up for a workshift, simply click on a boxed date below and it will redirect you to a form to add your name to one of the roles.</h3>
	</div>
	<table class="index-table">
		<tr>
			<th class="sunday">Sun</th>
			<th>Mon</th>
			<th>Tues</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
		{% for day in days %}
			{% if day.day_name == 'Sun' %}
				<tr>
			{% endif %}

			<!--Oof I'm not sure how to improve below logic-->	
			{% if ("Unassigned" in [day.cook, day.assist, day.clean1, day.clean2]) %}  
				{% if day.day_name == 'Sun' %}
				    <td class="sunday">
				{% else %}
				    <td>
				{% endif %}
			{% else %}
				{% if day.day_name == 'Sun' %}
				    <td class="sunday nohover">
				{% else %}
				    <td class="nohover">
				{% endif %}
			{% endif %}

				<div class="centerbox">
					{% if ("Unassigned" in [day.cook, day.assist, day.clean1, day.clean2]) %}
					<a href="/update/{{ day.id }}">
					{% else %}
					<a>
					{% endif %}
					  <div class="table-date">
							  <b>{{ day.date.strftime("%b %d, %Y") }}</b>

					  </div>
					  <div class="table-labels">
							  <p class="cook"><b>Cook :</b></p>
							  <p class="assist"><b>Assist :</b></p>
							  <p class="clean1"><b>Cleaner 1 :</b></p>
							  <p class="clean2"><b>Cleaner 2 :</b></p>
				      </div>
					  <div class="table-names">
							  {% if (day.cook != "Unassigned") %}
							    <p class="cook">
							  {% else %}
							  	<p class="placeholder">
							  {% endif %}
							  {{ day.cook }}</p>
							  {% if (day.assist != "Unassigned") %}
							  	<p class="assist">
							  {% else %}
							  	<p class="placeholder">
							  {% endif %}
							  {{ day.assist }}</p>
							  {% if (day.clean1 != "Unassigned") %}
							  	<p class="clean1">
							  {% else %}
							  	<p class="placeholder">
							  {% endif %}
							  {{ day.clean1 }}</p>
							  {% if (day.clean2 != "Unassigned") %}
							  	<p class="clean2">
							  {% else %}
							  	<p class="placeholder">
							  {% endif %}
							  {{ day.clean2 }}</p>
					  </div>
					</a>
				</div>
			</td>
			{% if day.day_name == 'Sat' %}
				</tr>
			{% endif %}
		{% endfor %}
	</table>

</div>
{% endblock %}
