{% extends 'base.html' %}

{% block head %}
<title> Update {{ day.date.strftime("%a %b %d, %Y") }} </title>
{% endblock %}

{% block body %}
<div class="update-body">
<h4 style="text-align: center;"> Add your name to one of the white boxes below to sign up for the meal on:</h4>
<h3 style="text-align: center;">{{ day.date.strftime("%a %b %d, %Y") }}</h3>

<div class="update-content">
    <div class="update-form">
	<form action="/update_admin/{{ day.id }}" method="POST">
		<div>
		<table class="update-table">
			{% set jobkeys = ["cook","assist","clean1","clean2"] %}
			{% set jobdesc = ["Cook","Assist","Cleaner 1","Cleaner 2"] %}
			{% set jobnames = [day.cook,day.assist,day.clean1,day.clean2] %}
			{% for i in range(4) %}
				<tr>
					<th class='update'><label class="{{ jobkeys[i] }}">{{ jobdesc[i] }} :</label></th>
					<td class='update'><input class='textinput' type="text" name="{{ jobkeys[i] }}" value="{{ jobnames[i] }}" maxlength=12> </td>
				</tr>
			{% endfor %}

		</table>
		</div>
		<div class="update-buttons">
	      		<input type="submit" name="click" value="Submit">
	      		<input type="submit" name="click" value="Discard Changes/Go Back">
		</div>
	</form>
    </div>
</div>
</div>
{% endblock %}
